@font-face {
	font-family: "PlusJakartaSans-Regular";
	src: url("../fonts/PlusJakartaSans-Regular.ttf");
}
@font-face {
	font-family: "PlusJakartaSans-Bold";
	src: url("../fonts/PlusJakartaSans-Bold.ttf");
}
@font-face {
	font-family: "PlusJakartaSans-Light";
	src: url("../fonts/PlusJakartaSans-Light.ttf");
}
body {
	font-family: "PlusJakartaSans-Regular", Arial, sans-serif;
	margin: 0;
	padding: 0;
	color: #565e5d;
	font-size: 12px;
}
b,
strong {
	font-family: "PlusJakartaSans-Bold", Arial, sans-serif;
}
.card-text-description {
	font-family: "PlusJakartaSans-Light", Arial, sans-serif;
}
